@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CSS */
.telwind-radio.check {
  display: none;
}

/* Add new styles for the ApiSelector component */
.api-selector {
  display: flex;
  gap: 20px;
}

.api-selector .label {
  display: flex;
}

.api-selector .label .check {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
   -1px -1px 4px rgba(255, 255, 255, 0.5);
}

.api-selector .label input:checked + .check {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
   -1px -1px 4px rgba(255, 255, 255, 0.5),
   inset 3px 3px 6px rgba(0, 0, 0, 0.5),
   inset -1px -1px 4px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}



.radio-input .label input:checked + .check {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5),
   -1px -1px 4px rgba(255, 255, 255, 0.5),
   inset 3px 3px 6px rgba(0, 0, 0, 0.5),
   inset -1px -1px 4px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}